# Dependências
node_modules/
.pnpm-store/

# Next.js
.next/
out/
build/
dist/

# Turborepo
.turbo/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / SO
.DS_Store
.vscode/*
!.vscode/extensions.json
*.tsbuildinfo

# Testes
coverage/
